# =========================================
# MedConnect - variables d'environnement
# Copier en .env (qui est dans .gitignore)
# =========================================

# ----- MySQL (appointment-service) -----
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=medconnect_appointments
MYSQL_USER=medconnect
MYSQL_PASSWORD=medconnectpass

# ----- MongoDB (medical-records-service) -----
MONGO_INITDB_ROOT_USERNAME=medconnect
MONGO_INITDB_ROOT_PASSWORD=medconnectpass
MONGO_DB_NAME=medconnect_records

# ----- RabbitMQ -----
RABBITMQ_DEFAULT_USER=medconnect
RABBITMQ_DEFAULT_PASS=medconnectpass

# ----- Keycloak -----
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=medconnect
KEYCLOAK_GATEWAY_CLIENT_ID=medconnect-gateway
KEYCLOAK_GATEWAY_CLIENT_SECRET=medconnect-gateway-secret
KEYCLOAK_FRONTEND_CLIENT_ID=medconnect-frontend

# URL publique (vue depuis le navigateur) et interne (vue depuis les conteneurs)
KEYCLOAK_PUBLIC_URL=http://localhost:8180
KEYCLOAK_INTERNAL_URL=http://keycloak:8080

# ----- Profils Spring -----
SPRING_PROFILES_ACTIVE=docker
